<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользователи</title>
</head>
<body>
    <h1>Произошла ошибка. {{message}}</h1>
    <a href="/users">Вернуться на страницу пользователей</a>
</body>
</html>